@font-face {
    font-family: 'Helvetica';
    src: url(./fonts/Helvetica-Font/Helvetica.ttf);
}


@font-face {
    font-family: 'Netflix Sans';
    src: url(./fonts/Netflix-Sans-Font/NetflixSans-Regular.woff2);
}



body {
    overflow-x: hidden;
}

.App {
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.Header {
    width: 100%;
    height: 841px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to top, rgba(243, 245, 242, 0.729), rgba(245, 242, 242, 0), rgba(245, 242, 242, 0), rgba(245, 242, 242, 0)), url(../images/head_back.png);
    background-repeat: no-repeat;
    background-size: cover;

    nav {
        width: 90%;
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}

// #checkIn {
//     width: 150px;
// }

.showcase .inputs input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.showcase {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.showcase .inputs {
    width: 90%;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(245, 242, 242, 0.202);
    backdrop-filter: blur(22px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;




    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;




    input[type=date] {
        border: none;
        margin: 0;
        padding: 0 25px;
        box-sizing: border-box;
        color: #fff;
    }

    input[type="text" i] {
        padding: 0 25px;
    }

    input:focus {
        outline: none;
    }

    input {
        width: 150px;
        height: 50px;
        padding: 0 20px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        color: #fff;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;

        color: #FFFFFF;

        opacity: 0.7;
    }

    input::placeholder {
        color: #fff;
    }

    .search_input {
        width: 414px;
        background-image: url(../images/icons/search_icon.svg);
        background-position: center;
        background-position-x: 10px;
        background-repeat: no-repeat;
        background-color: transparent;
        padding: 0 20px;
        padding-left: 35px;
        margin-left: 10px;
    }
}


.check_input {
    background-image: url(../images/icons/calendar_icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 45px;
}

label {
    display: flex;
    align-items: center;
}

#room,
#adult {
    width: auto;
    max-width: 40px;
    height: 100%;
    display: block;
    padding: 0 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.input_span {
    display: flex;
    height: 50px;
    line-height: 40px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: #fff;
}


.showcase h1 {
    position: relative;
    width: 759px;
    height: 166px;
    left: -230px;


    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 83px;

    color: #FFFFFF;
    text-align: left;
    // align-self: baseline;
}

.showcase {
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.item {
    display: flex;
    justify-content: center;
}


.categories {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */


    color: #FFFFFF;

    .links {
        width: 90%;
        height: 100%;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;
            list-style: none;

            li {
                button {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;

                    color: #ffffff74;
                }
            }
        }
    }
}

.beach {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    // .white {
    //     width: 250px;
    //     border: 1px solid red;
    //     height: 600px;
    //     position: absolute;
    //     z-index: 2;
    //     box-shadow: 150px 0 100px white;
    //     background-color: #fff;
    // }


    .blockTitle {
        width: 90%;
        text-align: left;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */


        color: #000;
        margin-top: 72px;
        margin-bottom: 32px;
    }

    .top {
        color: #fff;
    }

    .beachCarousel {
        width: 100%;
        display: flex;



    }
}


.owl_carusel {
    width: 100%;
    margin-left: 5%;
}





.popCard {
    width: 342px;
    height: 549px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;

    p {
        align-self: flex-start;
    }

    .dayNight {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin: 8px 0;
        opacity: 0.5;
    }

    img {
        width: 310px;
        height: 200px;
        border-radius: 16px;
    }


    .titleRating {
        width: 100%;
        height: 30px;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Netflix Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        /* identical to box height */


        color: #000000;

        p {
            margin: 0;

        }

        .rate {
            width: 70px;
            height: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
                width: 24px !important;
                height: 24px !important;
            }

            span {
                font-weight: 400;
                font-size: 24px;
                line-height: 31px;
            }

        }
    }


    .services {
        height: 47px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .service {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }

            p {
                margin: 8px 0;
                width: 100%;
                font-family: 'Netflix Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                opacity: 0.5;
            }
        }
    }

    .info {
        width: 100%;
        text-align: left;


        ul {
            padding-left: 20px;

            li {
                list-style: disc;
                color: #000;
                opacity: 0.4;

                p {
                    font-family: 'Netflix Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;

                    color: #000000;
                    opacity: 0.5;
                }
            }

        }
    }


    .sale {
        width: 100%;
        text-align: left;
        font-family: 'Netflix Sans';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;

        strong {
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            margin-left: 24px;
            margin-right: 4px;
        }

        sub {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            opacity: 0.5;
        }
    }



}

.popCard_last {
    width: 342px;
    height: 549px;

    background: #3886AB;
    box-shadow: 0px 4px 16px rgba(158, 158, 158, 0.25);
    border-radius: 16px;
    text-align: left;
    padding: 54px 24px;
    box-sizing: border-box;
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */


    color: #FFFFFF;
    background-image: url(../images/last_back.png);

    ul {
        padding: 0;
        list-style: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}