@import "react-alice-carousel/lib/scss/alice-carousel.scss";
@import "./resnponsive";

@font-face {
    font-family: 'Helvetica';
    src: url(./fonts/Helvetica-Font/Helvetica.ttf);
}

@font-face {
    font-family: 'Helvetica-light';
    src: url(./fonts/Helvetica-Font/helvetica-rounded-bold-5871d05ead8de.otf);
}


@font-face {
    font-family: 'Netflix Sans';
    src: url(./fonts/Netflix-Sans-Font/NetflixSans-Regular.woff2);
}

@font-face {
    font-family: "Netflix Sans bold";
    src: url(./fonts/Netflix-Sans-Font/NetflixSans-Bold.woff2);
}



@keyframes onload {
    0% {
        transform: translate(-100% 0);
    }

    100% {
        transform: translate(0, 0);
    }
}


html {
    overflow-x: hidden;
}

.App {
    width: 100%;
    height: auto;
    margin: 0 auto;

}

.Header {
    width: 100%;
    // height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;

    .Header_block {
        position: relative;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, white, rgba(245, 242, 242, 0.5), rgba(245, 242, 242, 0), rgba(245, 242, 242, 0), rgba(245, 242, 242, 0), rgba(245, 242, 242, 0), rgba(245, 242, 242, 0), rgba(245, 242, 242, 0));
    }

    nav {
        width: 90%;
        height: 85px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
}


.showcase .inputs input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.showcase {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.showcase .inputs {
    width: 90%;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(245, 242, 242, 0.202);
    backdrop-filter: blur(22px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 16px;




    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;

    color: #FFFFFF;




    input[type=date] {
        border: none;
        margin: 0;
        padding: 0 25px;
        // box-sizing: border-box;
        color: #fff;
    }

    input[type="text" i] {
        padding: 0 25px;
    }

    input:focus {
        outline: none;
    }

    input {
        width: 150px;
        height: 50px;
        padding: 0 25px;
        box-sizing: border-box;
        border: none;
        background-color: transparent;
        color: #fff;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;

        color: #FFFFFF;

        opacity: 0.7;
    }

    input::placeholder {
        color: #fff;
    }

    .search_input {
        width: 414px;
        background-image: url(../images/icons/search_icon.svg);
        background-position: center;
        background-position-x: 10px;
        background-repeat: no-repeat;
        background-color: transparent;
        padding: 0 20px;
        padding-left: 35px;
        margin-left: 10px;
    }

    .search {
        width: 147px;
        height: 42px;

        background: #FFFFFF;
        border-radius: 32px;
        border: none;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;

        color: #1B4E7A;

        opacity: 0.7;
        margin-right: 16px;
    }
}


.check_input {
    background-image: url(../images/icons/calendar_icon.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding: 0 45px;
}

label {
    display: flex;
    align-items: center;
}

#room,
#adult {
    width: auto;
    max-width: 40px;
    height: 100%;
    display: block;
    padding: 0 5px;
    text-align: center;
    line-height: 50px;
    font-size: 16px;
}

.input_span {
    display: flex;
    height: 50px;
    line-height: 40px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    color: #fff;
}

.showcase .siteTitle {
    width: 90%;
    height: 206px;
    margin: 31px 0;

    h1 {
        position: relative;
        width: 759px;


        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 72px;
        line-height: 66px;

        color: #FFFFFF;
        text-align: left;
        // align-self: baseline;
    }
}

.showcase {
    height: 70%;
    min-height: 761px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.item {
    width: min-content;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0px 4px 16px rgba(158, 158, 158, 0.25);
}


.categories {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */


    color: #FFFFFF;

    .links {
        width: 100%;
        height: 100%;
        border: 1px solid red;

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 0;
            list-style: none;

            li {
                button {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;

                    color: #ffffff74;
                }
            }
        }
    }
}

.beach {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: onload linear 1s;
    margin-top: -200px;
    margin-left: 10%;




    .blockTitle {
        width: 100%;
        text-align: left;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */


        color: #000;
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .top {
        color: #fff;
    }

    .bottom {
        margin-bottom: 125px;
    }

    .beachCarousel1 {
        width: 100%;
        display: flex;
        justify-content: left !important;
        padding: 0;

        .beachCarousel {
            width: 100%;
            display: flex;
            margin-left: -5%;




        }
    }


}


.owl_carusel {
    // width: 100%;
    margin-left: 7%;
}





.popCard {
    width: 342px;
    height: 549px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-radius: 16px;
    background-color: #fff;
    border: 1px solid rgba(158, 158, 158, 0.25);
    border-radius: 16px;

    p {
        align-self: flex-start;
    }

    .dayNight {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        margin: 8px 0;
        opacity: 0.5;
    }

    img {
        width: 310px;
        height: 200px;
        border-radius: 16px;
    }


    .titleRating {
        width: 100%;
        height: 30px;
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Netflix Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 31px;
        /* identical to box height */


        color: #000000;

        p {
            margin: 0;

        }

        .rate {
            width: 70px;
            height: 20px;
            display: flex;
            justify-content: space-around;
            align-items: center;

            img {
                width: 24px !important;
                height: 24px !important;
            }

            span {
                font-weight: 400;
                font-size: 24px;
                line-height: 31px;
            }

        }
    }


    .services {
        height: 47px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .service {
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 24px;
                height: 24px;
            }

            p {
                margin: 8px 0;
                width: 100%;
                font-family: 'Netflix Sans';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                opacity: 0.5;
            }
        }
    }

    .info {
        width: 100%;
        text-align: left;


        ul {
            padding-left: 20px;

            li {
                list-style: disc;
                color: #000;
                opacity: 0.4;

                p {
                    font-family: 'Netflix Sans';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;

                    color: #000000;
                    opacity: 0.5;
                }
            }

        }
    }


    .sale {
        width: 100%;
        text-align: left;
        font-family: 'Netflix Sans';
        font-style: normal;
        font-weight: 100;
        font-size: 16px;
        line-height: 20px;

        strong {
            font-weight: 700;
            font-size: 24px;
            line-height: 31px;
            margin-left: 24px;
            margin-right: 4px;
        }

        sub {
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            opacity: 0.5;
        }
    }



}

.popCard_last {
    width: 342px;
    height: 549px;

    background: #3886AB;
    box-shadow: 0px 4px 16px rgba(158, 158, 158, 0.25);
    border-radius: 16px;
    text-align: left;
    padding: 54px 24px;
    box-sizing: border-box;
    font-family: 'Netflix Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    /* identical to box height */


    color: #FFFFFF;
    background-image: url(../images/last_back.png);

    ul {
        padding: 0;
        list-style: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }
}



.footer {
    width: 100%;
    height: 292px;
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 42px 0;

    .footer_block {
        width: 90%;
        height: max-content;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        text-align: left;
        color: #fff;

        a {
            font-family: 'Netflix Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 13px;
            line-height: 17px;
            /* identical to box height */


            /* Gray */

            color: #808080;
            text-decoration: none;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        p {
            margin: 0;
            font-family: 'Netflix Sans';
            font-style: normal;
            font-weight: 300;
            font-size: 11px;
            line-height: 14px;
            /* identical to box height */


            /* Gray */

            color: #808080;
        }

        .logo {
            width: 18.65%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            height: 100%;
        }


        .links_block {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;


            .links {
                width: 100%;
                height: 133px;
                display: flex;
                justify-content: space-between;

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        margin-bottom: 15px;
                    }


                }
            }

            .socialAndCopywright {
                width: 100%;
                height: 101px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                padding: 0;

                .copywright {
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: flex-start;

                    button {
                        padding: 10px 15px;
                        height: 37px;
                        left: 23.57%;
                        right: 68.81%;
                        top: calc(50% - 37px/2 + 49.5px);
                        /* Gray */

                        border: 1px solid #808080;
                        background-color: transparent;
                        font-family: 'Netflix Sans';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 17px;
                        /* identical to box height */


                        /* Gray */

                        color: #808080;
                    }


                }

                .footerIcons {
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }
}




.home {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -200px;

    .title {
        width: 90%;
        text-align: left;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 37px;
        /* identical to box height */
        color: #000;
        margin-top: 80px;
        letter-spacing: 1.7px;
    }

    .top {
        color: #fff;
        margin-top: 30px;
    }

    .beachCarousel {
        width: 100%;

        .owl-item {
            width: auto;
            padding: 15px 0 !important;
        }

        .item {
            width: min-content !important;
            align-items: flex-start;
            justify-content: flex-start;
        }

        .image {
            width: 300px;
            height: 200px;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                display: block;
                z-index: 0;
                position: absolute;
                border-radius: 8px;
            }

            p {
                display: block;
                position: absolute;
                z-index: 1;
                left: 24px;
                bottom: 23px;
                margin: 0;
                font-family: 'Netflix Sans';
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 31px;
                /* identical to box height */


                // color: #FFFFFF
                color: #000;
            }
        }
    }



    .owl_carusel {
        width: 100%;
    }
}

.plan {
    width: 90%;
    height: 495px;
    margin-top: 72px;



    background: url(../images/plan_back.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 24px;
    padding: 80px;
    box-sizing: border-box;
    text-align: left;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    h2 {
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 64px;

        color: #FFFFFF;
    }

    p {
        font-family: 'Netflix Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 41px;
        /* identical to box height */


        color: #FFFFFF;
    }
}



.owl-item {
    padding: 10px 0 !important;

}

.item {
    justify-content: left;
}



.contact {
    width: 100%;
    height: 543px;
    display: flex;
    justify-content: center;
    background: url(../images/contact_back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-end;
    margin-bottom: 0;
    margin-top: 100px;

    .left {
        width: 30%;
        display: flex;
        justify-content: flex-start;
    }

    .right {
        width: 60%;
        height: 86%;
        padding: 5%;
        padding-left: 0;
        padding-top: 0;
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        font-family: 'Helvetica';
        font-style: normal;
        font-weight: 700;

        color: #FFFFFF;

        h2 {
            width: 90%;
            font-weight: 700;
            font-size: 48px;
            line-height: 35px;
        }

        p {
            width: 90%;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;

            color: #FFFFFF;
        }

        .right_left {
            width: 45%;

            .buttons {
                button {
                    width: 91px;
                    height: 39px;
                    backdrop-filter: blur(32px);
                    background: transparent;
                    border-radius: 16px;
                    margin-right: 16px;
                    font-family: 'Helvetica';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    /* identical to box height */


                    color: #FFFFFF;
                    border: none;
                }
            }

            .inputInfo {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
            }

            .search {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 8px 16px;
                gap: 8px;

                width: 462px;
                height: 58px;

                background: rgba(255, 255, 255, 0.4);
                backdrop-filter: blur(32px);
                box-sizing: border-box;
                border-radius: 16px;

                input {
                    width: 210px;
                    height: 32px;
                    border: none;
                    background-color: transparent;
                    font-family: 'Helvetica';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 18px;

                    color: #FFFFFF;


                }

                input::placeholder {
                    font-family: 'Helvetica';
                    font-style: normal;
                    font-weight: 100;
                    font-size: 16px;
                    line-height: 18px;

                    color: #FFFFFF;

                }

                input:focus {
                    outline: none;
                }

                button {
                    width: 188px;
                    height: 42px;

                    background: #FFFFFF;
                    border-radius: 32px;
                    border: none;
                    font-family: 'Helvetica';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 18px;

                    color: #2659C3;
                }
            }
        }

        .border {
            width: 5%;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0;
            line-height: 50px;

        }

        .border::before {
            content: "";
            width: 2px;
            height: 51.34px;
            background-color: #00000033;
            opacity: 0.7;
        }

        .border::after {
            content: "";
            width: 2px;
            height: 51.34px;
            background-color: #00000033;
            opacity: 0.7;
        }

        .right_right {
            width: 45%;
            display: flex;
            flex-direction: column;
            gap: 27px;

        }
    }
}

.backImage {
    width: 100%;
    display: block;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(to top, rgb(247, 246, 246, 1), rgb(247, 246, 246, 0.8), rgb(247, 246, 246, 0.6), rgb(247, 246, 246, 0.0), );
}






.home {

    .block {
        width: 90%;

        .aliceCarousel {
            width: auto;

            .image {
                width: 310px;
                height: 200px;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 1;
                    border-radius: 16px;
                }

                p {
                    position: absolute;
                    z-index: 2;
                    position: 0;
                    color: #fff;
                    margin: 0;
                    bottom: 23px;
                    left: 24px;
                    @include aliceInfo()
                }
            }
        }
    }
}

.alice-carousel {
    width: 110%;
    padding: 20px;
    margin-left: -20px;
}

.BigCard {
    width: 628px;
    height: 258px;

    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid rgba(158, 158, 158, 0.25);
    border-radius: 16px;

    .image {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            border-radius: 10px;
        }
    }

    .info_block {
        width: 45%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        position: relative;

        p {
            margin: 0;
        }

        .role {
            font-family: 'Netflix Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            color: #000000;

            opacity: 0.5;
        }

        .title {
            width: 100%;
            margin-top: 4px;
            font-family: 'Netflix Sans';
            font-style: normal;
            font-weight: 800;
            font-size: 24px;
            line-height: 31px;

            color: #000000;
        }

        .info {
            margin-top: 16px;
            font-family: 'Netflix Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            color: #000000;

            opacity: 0.5;
        }

        button {
            align-self: flex-start;
            position: absolute;
            bottom: 0;
            padding: 16px 32px;
            gap: 8px;

            width: 140px;
            height: 52px;

            background: #2659C3;
            border-radius: 32px;
            border: none;
            font-family: 'Netflix Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

            color: #FFFFFF;
        }
    }
}

.block {
    margin-bottom: 72px;
    width: 100%;

    .title {
        text-align: left;
        @include blockTitle();
    }

    .top {
        color: #fff;
    }

}

.categoriestop {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0;
        margin: 0;
        float: right;

        li {

            display: flex;
            justify-content: flex-end;
            margin: 5px 0;

            button {
                position: relative;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row-reverse;
                align-items: center;
                width: auto;
                background-color: rgba(18, 94, 200, 0.527);
                width: 50px;
                height: 50px;
                box-sizing: border-box;
                padding: 0;
                margin: 0;
                border-radius: 10px;
                overflow-x: hidden;
                overflow-y: hidden;
                padding: 8px;
                transition: all 0.75s linear;
                border: none;

                p {
                    width: 150px;
                    transform: scaleX(-50px);
                    left: -162px;
                    color: #fff;
                    overflow-x: hidden;
                    position: absolute;
                    @include aliceInfo();
                    font-size: 18px;
                    margin-right: 15px;
                }


            }

            button:hover {
                width: 170px;
                transition: all 0.75s linear;
                transform: skew(120px, 50%);

                p {
                    display: block;
                    transition: all 0.75s linear;
                    left: -10px;
                }
            }


        }
    }
}


@media only screen and (max-width:1090px) {
    .showcase .inputs {
        .search_input {
            width: 250px;
        }
    }
}


@media only screen and (max-width:1025px) {
    .showcase .inputs {
        width: 70%;
        height: auto;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 60%;
        padding: 20px 0;
        margin-top: -30px;

        div {
            width: 100%;
            justify-content: center;
        }

        input {
            width: 100% !important;
            margin-left: 0 !important;
            // margin: 0 !important;
            margin: 10px 0;
            padding: 0 25px;
            // box-sizing: border-box;
            text-align: center;
            border: 1px solid #000;
            border-radius: 15px;

        }

        input[type=date] {
            margin: 10px 0;
        }

        .check_input {
            background-image: url(../images/icons/calendar_icon.svg);
            background-position: left 16px center;
            background-repeat: no-repeat;
            padding: 0 45px;
        }

        .input_span {
            width: 90%;
            display: flex;
            justify-content: space-around;
            height: 50px;
            line-height: 40px;
            align-items: center;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 1em;
            color: #fff;
        }

        button {
            margin-top: 15px;
            justify-self: center;
        }
    }

    .BigCard {
        width: 458px;
        height: 558px;

        display: flex;
        flex-direction: column;

        .image {
            width: 100%;
            height: 50%;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .info_block {
            width: 100%;
            height: 45%;
        }
    }

}

@media only screen and (max-width:930px) {

    .BigCard {
        width: 408px;
        height: 558px;
    }
}

@media only screen and (max-width:830px) {

    .BigCard {
        width: 368px;
        height: 558px;
    }
}

@media only screen and (max-width:762px) {

    .BigCard {
        width: 80%;
        height: 658px;
    }

    .home {

        .block {
            width: 90%;

            .aliceCarousel {
                width: auto;

                .image {
                    width: 310px;
                    height: 200px;
                    position: relative;
                    display: block;
                }
            }
        }
    }
}


.salom {
    z-index: 2;
}